{% extends "layout.html" %}

{% block title %}
<title>GhostDrop - Home</title>
{% endblock %}

{% block content%}



    <h1>Upload your document</h1>
    <h2>Deletes forever when the time runs out.</h2>

    <div id="bg" class="well col-md-6 col-md-offset-3">
      <!-- Form Starts   -->
      <form role="form" action="/upload" method="POST" enctype="multipart/form-data">
        <!-- File Upload -->
        <div class="form-group fileUpload btn btn-primary">
          <label for="exampleInputFile">Choose File</label>
          <input type="file" name="file_name" id="fileName" class="upload" webkitdirectory>
        </div>

        <div class="form-group">
          <label for="duration">Expire After</label>
            <div class="input-group col-md-4">
              <input type="text" class="form-control" name="hours">
              <span class="input-group-addon">hours</span>
            </div>

            <div class="input-group col-md-4">
              <input type="text" class="form-control" name="minutes">
              <span class="input-group-addon">minutes</span>
            </div>

            <div class="input-group col-md-4">
              <input type="text" class="form-control" name="seconds">
              <span class="input-group-addon">seconds</span>
            </div>
				</div>

        <!-- Uploader Email-->
        <div class="form-group">
          <!-- <label for="uploaderEmail">Your Email</label> -->
          <input id="email-input" type="email" class="form-control" name="uploader_email" id="uploaderEmail" placeholder= "Your email">
        </div>
        <!-- Recipient Email -->
        <div class="form-group">
          <!-- <label for="readerEmail">Recipient's Email</label> -->
          <input id="recipient-input" type="text" class="form-control" name="reader_email" id="readerEmail" placeholder= "Recipient Email">
        </div>

        <!-- Password protect -->
        <!-- <div class="checkbox">
          <label>
            <input name="isProtected" type="checkbox" value="false"> Password Protect
          </label>
        </div> -->

        <button class="submit-button" type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>


{% endblock%}
