{% extends "layout.html" %}

{% block title %}
<title>GhostDrop - Success!</title>
{% endblock %}

{% block content%}

    <div id="bg" class="well col-md-6 col-md-offset-3">
			<p class="success-notify" id="doc-success"><img src="/images/doc_success.png"><p>
			<div id="success">File Uploaded Successfully</div>
      <p class="success-notify">We have sent an email to you and your recipient that contains an unique link to access your file.</p>
    </div>

{% endblock%}

<!-- class="alert alert-success" -->